extends layout

block content
    section
        .container
            .row
                h2.title.text-center
                    =title
                //title here. no duplicate
                //if navList
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                            each nav in navList
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='#')= nav.name
                    ///nav-bar

                .col-sm-9
                    .blog-post-area
                        .single-blog-post
                            //h2= title
                            h3 UNDER CONSTRUCTION

                            //a(href='#')
                                img(src='#', alt='Image')
                            p Nuna Syaf Atiqah Sdn Bhd. operates NSA eBookStore website, which provides the online bookstore service. We will use your personal details for delivering and report documentation. The information that we collect will be used to contact or identify you. 
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br


